Repository naplaca/devkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: create release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: remove private flag
  package.json
Due: prettier --write

chore: add npm auth token
  .npmrc
Due: none

chore: remove npmrc
  .github/workflows/release.yml
  .npmrc
Due: none

chore: fix npm auth
  .github/workflows/release.yml
Due: none

feat: create prettier-config package
  packages/prettier-config/index.ts
  packages/prettier-config/package.json
  packages/prettier-config/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: create prettier-config README
  .lintstagedrc.json
  packages/prettier-config/README.md
  packages/prettier-config/package.json
Due: prettier --write

chore: integrate pnpm
  .github/workflows/release.yml
  package.json
Due: prettier --write

feat: update prettier-config readme
  package.json
  packages/prettier-config/README.md
  pnpm-lock.yaml
Due: prettier --write

feat: create eslint-config package
  packages/eslint-config/README.md
  packages/eslint-config/only-warn.d.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/base.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/next.ts
  packages/eslint-config/src/react.ts
  packages/eslint-config/tsconfig.json
  packages/eslint-config/tsdown.config.ts
Due: prettier --write, eslint

chore: add configuration
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/prettier-config/tsconfig.json
  packages/tsconfig/tsconfig.base.json
  pnpm-lock.yaml
Due: prettier --write

chore: version packages
  .changeset/pretty-emus-hunt.md
Due: prettier --write

chore: fix repo name
  .changeset/config.json
Due: prettier --write

chore: bump versions
  .changeset/pretty-emus-hunt.md
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write

chore: bump versions
  packages/eslint-config/package.json
Due: prettier --write

chore: fix release
  package.json
Due: prettier --write

feat: create next and react typescript configuration
  .changeset/yellow-beds-hang.md
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.next.json
  packages/tsconfig/tsconfig.react.json
Due: prettier --write

chore: fix release workflow
  package.json
Due: prettier --write

chore: fix release workflow
  .github/workflows/release.yml
Due: none

chore: fix release workflow
  .changeset/yellow-beds-hang.md
  .github/workflows/release.yml
Due: prettier --write

chore: change repo name
  .prettierrc
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *{.ts,.cjs,.mjs}) or (any of: *.{json,md})
  eslint: any of: *{.ts,.cjs,.mjs}
